*.orig
*.opensdf
*.pdb
Thumbs.db
*.obj
*.exe
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk

# Build output
[Bb]in/
[Oo]bj
[Dd]ebug*/
Outputs/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.vssscc
$tf*/

# Artifacts of the IDE and build
*.sln.ide/
.vs/
packages/
*.suo
*.user
[Tt]est[Rr]esult*
OpenCover.Reports/
.nuget/NuGet.exe
build/nuget/
*.log
results.xml
project_coverage.xml