version: 1.0.{build}
init:
- git config --global core.autocrlf true
install:
- set PATH=C:\Program Files (x86)\MSBuild\12.0\Bin;%PATH%
before_build:
  - nuget restore
build:
  project: .\CarLib.sln
  verbosity: minimal
after_test: 
    - packages\OpenCover.4.6.519\tools\OpenCover.Console.exe -register:user "-target:C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\IDE\MSTest.exe" "-targetargs:/noresults /noisolation /testcontainer:C:\projects\CarLib\Outputs\Common.Tests.dll /testcontainer:C:\projects\CarLib\Outputs\IO.Tests.dll" -filter:"+[*]*" -excludebyattribute:*.ExcludeFromCodeCoverage* -excludebyfile:"*\*.xaml;*\*.Designer.cs;*\*Tests.cs" -hideskipped:All -output:.\project_coverage.xml 
    - "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"
    - pip install codecov
    - codecov -f "project_coverage.xml"